.home-container {
  padding: 2rem;
  margin-top: 1px;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
 
  gap: 2rem;
}

.left-h {
 
  flex: 5;
  padding-left: 3rem;
  width: auto;
  align-items: center;
  box-shadow: blue 4px;
}
.left-h > ul > li {
  list-style-type: disc;
  font-size: 20px;
  cursor: pointer;
}
.left-h > ul > li:hover {
  color: yellow;
}
.right-h {
 
  flex: 5;
  padding-left: 3rem;
  width: auto;
  align-items: center;
  
}
.right-h > ul > li {
    list-style-type: disc;
    font-size: 20px;
    cursor: pointer;
  }
  .right-h > ul > li:hover {
    color: yellow;
  }